In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

In [3]:
water_df = pd.read_csv("../data/waterquality.csv")

In [4]:
water_df

,Date,Salinity (ppt),DissolvedOxygen (mg/L),pH,SecchiDepth (m),WaterDepth (m),WaterTemp (C),AirTemp (C)
0,1989-05-11,NaN,NaN,7.5,0.3,0.9,17.0,-17.777778
1,1989-05-18,NaN,12.0,7.5,0.2,0.6,17.5,20.500000
2,1989-05-25,NaN,NaN,8.0,0.4,0.8,23.0,25.000000
3,1989-06-01,NaN,12.0,8.0,0.4,0.9,25.5,29.000000
4,1989-07-11,NaN,NaN,8.5,0.3,0.9,28.5,28.000000
...,...,...,...,...,...,...,...,...
2366,NaN,0.0,NaN,7.0,0.3,0.5,14.0,11.111111
2367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-17.777778
2368,NaN,0.0,3.9,6.5,0.3,1.8,22.0,21.111111
2369,NaN,1.0,NaN,7.0,0.6,1.0,17.0,21.111111
2370,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-17.777778

In [5]:
water_df.isna().mean()

Date                      0.002109
Salinity (ppt)            0.054829
DissolvedOxygen (mg/L)    0.358920
pH                        0.040067
SecchiDepth (m)           0.030789
WaterDepth (m)            0.029945
WaterTemp (C)             0.051033
AirTemp (C)               0.000000
dtype: float64

In [7]:
water_df.dropna(subset = ["Date", "Salinity (ppt)", "pH", "SecchiDepth (m)", "WaterDepth (m)", "WaterTemp (C)", "AirTemp (C)"], inplace=True)

In [11]:
water_df.dtypes

Date                       object
Salinity (ppt)            float64
DissolvedOxygen (mg/L)    float64
pH                        float64
SecchiDepth (m)           float64
WaterDepth (m)            float64
WaterTemp (C)             float64
AirTemp (C)               float64
dtype: object

In [14]:
water_df.duplicated(subset='Date').sum() # distintas mediciones en mismo dia

1310

In [16]:
water_df[water_df.duplicated()]

,Date,Salinity (ppt),DissolvedOxygen (mg/L),pH,SecchiDepth (m),WaterDepth (m),WaterTemp (C),AirTemp (C)
1220,2007-07-05,0.0,NaN,7.5,0.9,1.0,28.0,23.333333
1839,2013-04-26,0.0,NaN,7.0,0.4,0.4,15.0,12.222222
2158,2017-04-04,0.0,NaN,7.0,0.5,0.6,20.0,21.666667
2159,2017-04-04,0.0,NaN,7.0,0.2,0.3,19.0,21.666667
2183,2017-07-11,0.0,NaN,7.0,0.5,0.5,31.0,24.444444

In [17]:
water_df.drop_duplicates(inplace=True)